@import "../node_modules/material-symbols/index.css";
@import "./styles/theme.css";
@import "./styles/header.css";
/*@import "./asset/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf";*/

@font-face {
    font-family: "Bricolage Grotesque";
    src:
        local("Bricolage Grotesque"),
        url("asset/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
            format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    display: block;
    background: var(--back-color);
    color: var(--fore-color);
    font-family: "Bricolage Grotesque", sans-serif;
    line-height: 1.35;
    -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul,
ol,
.col-name {
    font-family: "Bricolage Grotesque";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.material-symbols {
    font-family: "Material Symbols Outlined";
    font-size: 22px;
    font-weight: 600;
    text-align: center;

    &.error {
        color: var(--color-red);
    }
    &.downloaded {
        color: var(--color-green);
    }
}

.torrent-row:has(.error) {
    background-color: var(--color-muted);
    & .tertiary {
        filter: saturate(0.2);
    }
}
