@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("../../node_modules/mini.css/dist/mini-nord.css");

@font-face {
  font-family: "Bricolage Grotesque";
  src:
    local("Bricolage Grotesque"),
    url("../assets/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
      format("truetype");
}

:root {
  --universal-margin: 0.35rem;
  --universal-padding: 0.35rem;
  --padding-double: calc(2 * var(--universal-padding));
  --universal-border-radius: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  display: block;
  background: var(--secondary-back-color);
  color: var(--fore-color);
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul,
ol,
#input-links-dialog h4 {
  font-family: "Bricolage Grotesque";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.torrent-row:has(.error) {
  background-color: var(--form-back-color);
  filter: saturate(0.2);
  opacity: 0.45;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.logo img {
  height: 26px;
}

.wrapper {
  margin-top: 80px;
  padding: 0 calc(1.75 * var(--universal-padding));
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: var(--universal-padding);
  box-shadow: 2px 0 6px #33333333;
  z-index: 99999;
}

.material-symbols {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  & button {
    font-size: 24px;
  }

}

.material-symbols.downloaded {
  color: var(--color-success);
}

button {
  cursor: pointer;
  & span.text {
    font-size: 1em;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.torrent-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.torrent-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--universal-padding);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--back-color);

  &:last-child {
    margin-bottom: 2em;
  }

  & .input-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}
.torrent-header {
  font-weight: bold;
  font-size: 0.9rem;
}
div.col-name
/* div.col-name #file-title */ {
  flex: 3;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 var(--universal-padding);
  font-size: 1rem;
  text-align: start;
}
/* span.material-symbols {
  font-size: 1rem !important;
  margin-bottom: -6px;
} */
.col-status {
  flex: 1;
  max-width: 50px;
  text-align: right;
}
.col-progress,
.col-actions {
  flex: 1;
  text-align: right;
  /*min-width: 50px;*/
}
.col-actions {
  flex: 1;
  text-align: right;
  align-items: flex-end;
  align-self: baseline;
  max-width: 80px;
  &.input-group {
    align-items: flex-end;
  }
}
.col-actions button {
  padding: calc(0.35 * var(--universal-padding))
    calc(0.5 * var(--universal-padding));
  max-width: 45px;
}

#loading {
  display: none;
  margin-left: 1rem;
  font-style: italic;
  color: #666;
}

#input-links-dialog {
  display: none;
  flex-direction: column;
  gap: var(--universal-margin);
  padding: var(--padding-double);
  width: 800px;
  max-width: 95%;
  height: 520px;
  max-height: 95%;
  min-height: fit-content;
  border-radius: var(--universal-border-radius);
  margin: auto;
  border: 1px solid var(--border-color);
  outline: none;
  z-index: 9999;
  font-size: 1em;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  & button {
    /* height: 1rem;
    width: 1rem; */
    height: unset;
    line-height: unset;
    padding: var(--universal-padding);
    border-radius: var(--universal-border-radius);
  }
  & span,
  & button span {
    font-size: 1rem;
  }
}

#input-links-dialog[open] {
  display: flex;
}

.modal-footer.input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--universal-padding) 0;
  gap: var(--universal-margin);
  & button {
    /* height: 40px; */
    background: var(--button-back-color);
    color: var(--button-fore-color);
    border-radius: var(--universal-border-radius);
    cursor: pointer;
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--universal-margin);
      padding: 0;
    }
  }
}
textarea {
  display: block;
  width: 100%;
  min-height: 200px;
  flex-grow: 2;
  &:focus-visible {
    outline: 1px solid var(--button-back-color);
  }
}
@media screen and (max-width: 640px) {
  #input-links-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  textarea {
    min-width: 360px;
    min-height: 180px;
  }
}
