@import "tailwindcss" source("../");

@font-face {
    font-family: "Bricolage Grotesque";
    src:
        local("Bricolage Grotesque"),
        url("../assets/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
            format("truetype");
}

:root {
    --universal-margin: 0.35rem;
    --universal-padding: 0.35rem;
    --padding-double: calc(2 * var(--universal-padding));
    --universal-border-radius: 4px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    display: block;
    background: var(--secondary-back-color);
    color: var(--fore-color);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.35;
    -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul,
ol,
#input-links-dialog h4 {
    font-family: "Bricolage Grotesque";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.torrent-row:has(.error) {
    background-color: var(--form-back-color);
    filter: saturate(0.2);
    opacity: 0.45;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.logo img {
    height: 26px;
}

.wrapper {
    margin-top: 80px;
    padding: 0 calc(1.75 * var(--universal-padding));
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: var(--universal-padding);
    box-shadow: 2px 0 6px #33333333;
    z-index: 99999;
}

.material-symbols {
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    & button {
        font-size: 24px;
    }
}

.material-symbols.downloaded {
    color: var(--color-success);
}

button {
    cursor: pointer;
    & span.text {
        font-size: 1em;
    }
    &:hover {
        filter: brightness(1.1);
    }
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
