@import url("../../node_modules/mini.css/dist/mini-nord.min.css");

@font-face {
    font-family: "Bricolage Grotesque";
    src:
        local("Bricolage Grotesque"),
        url("../assets/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
            format("truetype");
}

:root {
    --universal-margin: 0.25rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    display: block;
    background: var(--back-color);
    color: var(--fore-color);
    font-family: "Bricolage Grotesque", sans-serif;
    line-height: 1.35;
    -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul,
ol {
    font-family: "Bricolage Grotesque";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

.torrent-row:has(.error) {
    background-color: var(--form-back-color);
    filter: saturate(0.2);
    opacity: 0.45;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.wrapper {
    margin-top: 80px;
    padding: 0 calc(1.75 * var(--universal-padding));
}

.header {
    background-color: var(--secondary-back-color);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: var(--universal-padding);
    box-shadow: 2px 0 6px #33333333;
    z-index: 99999;
}

i.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: currentColor;
    mask-size: cover;
    mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    vertical-align: middle;
}

i.icon.add_box {
    -webkit-mask-image: url("../assets/material-symbols/add_box.svg");
    mask-image: url("../assets/material-symbols/add_box.svg");
}
i.icon.check {
    -webkit-mask-image: url("../assets/material-symbols/check.svg");
    mask-image: url("../assets/material-symbols/check.svg");
}
i.icon.download {
    -webkit-mask-image: url("../assets/material-symbols/download.svg");
    mask-image: url("../assets/material-symbols/download.svg");
}
i.icon.error {
    -webkit-mask-image: url("../assets/material-symbols/error.svg");
    mask-image: url("../assets/material-symbols/error.svg");
}
i.icon.more_vert {
    -webkit-mask-image: url("../assets/material-symbols/more_vert.svg");
    mask-image: url("../assets/material-symbols/more_vert.svg");
}
i.icon.play_arrow {
    -webkit-mask-image: url("../assets/material-symbols/play_arrow.svg");
    mask-image: url("../assets/material-symbols/play_arrow.svg");
}
i.icon.refresh {
    -webkit-mask-image: url("../assets/material-symbols/refresh.svg");
    mask-image: url("../assets/material-symbols/refresh.svg");
}
i.icon.settings {
    -webkit-mask-image: url("../assets/material-symbols/settings.svg");
    mask-image: url("../assets/material-symbols/settings.svg");
}
i.icon.sync {
    -webkit-mask-image: url("../assets/material-symbols/sync.svg");
    mask-image: url("../assets/material-symbols/sync.svg");
}

i.icon.check,
.downloaded i.icon {
    color: var(--color-success);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.torrent-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}
.torrent-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;

    & .input-group {
        flex-direction: column;
    }

    &:last-child {
        margin-bottom: 2em;
    }
}
.torrent-header {
    font-weight: bold;
    background: #e9ecef;
    font-size: 0.9rem;
}
div.col-name,
div.col-name #file-title {
    flex: 3;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: start;
}
.col-status {
    flex: 1;
    max-width: 50px;
    text-align: right;
}
.col-progress,
.col-actions {
    flex: 1;
    text-align: right;
    /*min-width: 50px;*/
}
.col-actions {
    flex: 1;
    text-align: right;
    align-items: flex-end;
    align-self: baseline;
    max-width: 80px;
    &.input-group {
        align-items: flex-end;
    }
}
.col-actions button {
    padding: calc(0.35 * var(--universal-padding))
        calc(0.5 * var(--universal-padding));
    max-width: 45px;
}

#loading {
    display: none;
    margin-left: 1rem;
    font-style: italic;
    color: #666;
}
